/* Font Weight */
$regular: 400;
$medium: 500;
$bold: 700;

/* Font Family */
$family: 'Rubik';

/* Font Size */
$font-body: 16px;
$user-name: 0.9rem;
$status-size: 0.7rem;

/* COLOR: Texts */
$sub-heading: hsl(276, 100%, 81%);
$chat-on-left: hsl(276, 55%, 52%);
$chat-on-right: hsl(271, 15%, 43%);
$placeholder: hsl(206, 6%, 79%);
$h1-color: hsl(271, 36%, 24%);
$p-color: hsl(270, 7%, 64%);

/* COLOR: Gradient Background */
$light-magenta: hsl(293, 100%, 63%);
$light-violet: hsl(264, 100%, 61%);

/* COLOR: Secondary */
$white: hsl(0, 0%, 100%);
$app-bg: hsl(270, 20%, 96%);
$submit-btn-bg: hsl(271, 36%, 24%);
$radio-btn-outline: hsl(289, 100%, 72%);